.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 10px;
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0%;
    margin-top: 10%;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10%;
    padding-top: 0%;
}


.img {
    width: 50%;
    padding-right: 200px;
}

.text {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 400;

}

.mainbody {
    background-color: #333;
    padding-right: 2rem;
    padding-left: 2rem;
}

.sidebody {
    background-color: #232323;
    overflow: none;
}

.footer {
    background-color: #000333;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem;
    text-align: center;
}

.faq {
    display: block;
    font-size: 200%;
}

summary {
    background-color: #333;
    font-size: 100%;
    border-radius: 40px;
    margin-bottom: 0%;

}

details {
    margin-top: 0%;
    margin-bottom: 0px;
    display: block;
    background-color: #404040;
    border: 4mm ridge rgba(23, 4, 66, 0.105);
    position: relative;
}

.answer {
    padding: 0%;
    margin: 0%;
    border-top: 2mm ridge rgba(23, 4, 66, 0.105);
    font-size: 1.25rem;
}

.grades {
    background-color: #FF0000;
    text-align: center;
}

#tdata {
    height: auto;
    width: 100%;
    border: 4mm ridge rgba(65, 4, 207, 0.105);
}



.quartile0 {
    background-color: rgb(22, 0, 185);
}

.grades {
    background-color: #FF0000;
    text-align: center;
}

.grades.green {
    background-color: #33FF3C;
}


.ec {
    text-align: center;
}

td {
    border: 1px solid #111;
    padding: 0%;
    margin: 0%;
}

.quartile {
    text-align: center;
}

.head {
    position: fixed;
}


* {
    box-sizing: border-box
}


.container {
    width: 100%;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}


.grades.grey {
    background-color: #333
}

.active {
    border-bottom: 10px solid #333;
}

.blogbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #232323;
    position: absolute;
    height: relative;
    overflow: auto;
}

.articleblog a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

.articleblog a.active {
    background-color: #04AA6D;
    color: white;
}

.articleblog a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.footer {
        height: 100%;
        display: block;
    }