.title {
  text-align: center;
  font-size: 700%;
  margin-bottom: 0%;
  display: flexbox;
  background-color: darkgrey;
}

.titlesubtext {
  text-align: center;
  font-size: 250%;
  margin-top: 0%;
  display: flexbox;
}

.faq {
  display: block;
  font-size: 200%;
}


.html {
  background-color: dimgrey;
}

body {
  background-color: grey;
  min-height: 980px;
}

summary {
  background-color: #333;
  font-size: 100%;
  border-radius: 40px;
  margin-bottom: 0%;

}

details {
  margin-top: 0%;
  margin-bottom: 0px;
  display: block;
  background-color: #404040;
  border: 4mm ridge rgba(23, 4, 66, 0.105);
  position: relative;
}

.answer {
  padding: 0%;
  margin: 0%;
  border-top: 2mm ridge rgba(23, 4, 66, 0.105);
}

#tdata {
  height: auto;
  width: 100%;
  border: 4mm ridge rgba(65, 4, 207, 0.105);
}



.quartile0 {
  background-color: rgb(22, 0, 185);
}

.grades {
  background-color: #FF0000;
  text-align: center;
}

.grades.green {
  background-color: #33FF3C;
}

.grades.grey {
  background-color: gray;
}

.ec {
  text-align: center;
}

td {
  border: 1px solid #111;
  padding: 0%;
  margin: 0%;
}

.quartile {
  text-align: center;
}

.head {
  position: fixed;
}


* {
  box-sizing: border-box
}


.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.points {
  width: 0%;
  background-color: #04AA6D;
}

.nbsa {
  width: 75%;
  background-color: red;
}

.weeks {
  width: 2%;
  background-color: #2196F3;
}


.blog {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: dimgrey;
  border: 1px solid white;
  border-top: none;
  height: 100%;
  position: fixed;
  overflow: hidden;
  font-family: sans-serif;
  min-height: 980px;
}

div a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid white;
  font-family: sans-serif;
}

div a:hover {
  background-color: blue;
  color: grey;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}

.okdude {
  text-align: center;
  font-size: 220%;
  padding-bottom: 2%;
}

.article {
  padding-left: 21%;
  font-size: 150%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.introduction {
  text-align: center;
  font-size: 200%;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.intro2 {
  text-align: center;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 4%;
  padding-top: 0%;
  margin-top: 0%;
}

.text {
  font-size: 125%;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 0%;
  padding-top: 0%;
  margin-top: 0%;

}

.me {
  font-size: 125%;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 0%;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.article1 {
  padding-left: 21%;
  font-size: 150%;
  padding-top: 0%;
  padding-bottom: 1%;
  margin-top: 0%;
  margin-bottom: 1%;
}